# Distribution packages should only declare the dependency specifications, not the indexes.
# see https://github.com/pypa/setuptools/discussions/2913
# PyTorch Index
# https://pytorch.org/get-started/locally/
--extra-index-url https://download.pytorch.org/whl/cpu
git+https://github.com/facebookincubator/flowtorch.git
numpy==1.24.*
pandas==1.5.*
seaborn==0.12.*
scikit-learn==1.2.*
torch==1.13.*
git+https://github.com/MArpogaus/TensorFlow-Probability-Bernstein-Polynomial-Bijector.git@2ceb26e
tensorflow==2.9.*

